* {
    box-sizing: border-box;
}

body {
    background-color: #D32F2F;
    color:#fff;
    font-family: Arial, sans-serif;
    font-size: medium;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}


input {
    border: 5px solid cyan;
    font-size: 100%;
}

footer {
    position: absolute;
    bottom: 11px;
    left: 11px;
    font-size: 75%;
}

a {
    color: inherit;
}

a:hover {
    color: #D32F2F;
    background-color: #fff;
}