* {
    box-sizing: border-box;
}

body {
    background-color: #D32F2F;
    color:#fff;
    font-family: Arial, sans-serif;
    font-size: medium;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: 1fr 1fr;
}


input {
    border: 5px solid cyan;
    font-size: 100%;
}

footer {
    position: fixed;
    bottom: 5px;
    right: 50px;
    font-size: 75%;
}

a {
    color: inherit;
}

a:hover {
    color: #D32F2F;
    background-color: #fff;
}

#results {
    margin-top: 10px;
}

.results-list {
    border: 1px solid #fff;
    padding: 5px;
    margin: 2px;
}